In [14]:
import pandas as pd

In [26]:
City = ['Washington DC', 'New York', 'Dallas', "Orlando"]
Weekday = ['Sunday', 'Monday', 'Tuesday', 'Wednesday']
Visitors = ['99', '199', '299', '399']
list_labels = ['City', 'Weekday', 'Visitors']
list_cols = [City, Weekday, Visitors]
datafrm_2 = list(zip(list_labels, list_cols))
datafrm_2

[('City', ['Washington DC', 'New York', 'Dallas', 'Orlando']),
 ('Weekday', ['Sunday', 'Monday', 'Tuesday', 'Wednesday']),
 ('Visitors', ['99', '199', '299', '399'])]

In [25]:
datafrm_2 = pd.DataFrame(dict(datafrm_2))
datafrm_2

            City    Weekday Visitors
0  Washington DC     Sunday       99
1       New York     Monday      199
2         Dallas    Tuesday      299
3        Orlando  Wednesday      399

In [4]:
type(City)

list